  :root {
	--text-color: #F4F2C9;
	}

<<<<<<< HEAD

  body {
	
	background:"../pictures/BG";
	background-color: white;
	background-repeat: no-repeat;
	background-size: auto;
	font-family: "Trebuchet MS";
	body {margin:0;}
	}

	

  nav {
	
=======

  body {

	background:"../pictures/BG";
	background-color: white;
	background-repeat: no-repeat;
	background-size: auto;
	font-family: "Trebuchet MS";
	body {margin:0;}
	}



  nav {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	display: flex;
	flex-wrap: nowrap;
<<<<<<< HEAD
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(38, 89, 153,1) ;
  position: absolute;
  top: 0;
  width: 100%;
z-index: 1;
}

li {
position: relative;
float: left;
font-family: "Trebuchet MS";
font-size: 15px;
text-align: center;
}

li a {
  display: flex;
  color: #ddd;
  justify-content: flex-end;
  padding: 14px 70px;
  text-decoration: none;
  margin-left: 70px;
}

li b {
  display: flex;
  color: #ddd;
  justify-content: flex-end;
  padding: 14px 70px;
  text-decoration: none;
  margin-right: 150px;
}

li a:hover:not(.active) {
  font-size: 17.5px;
  color: var(--text-color);
}

.active1 {
  color: var(--text-color);
  font-size: 17px;
}

.container-fluid-r {
padding-right: 10%;
padding-left: 10%;
margin-top: 10%;
float: right;
text-align: left;
}

.container-fluid-l {
padding-right: 10%;
padding-left: 10%;
margin-top: 10%;
float: left;
text-align: right;
}

section {

}

p {
color : var(--text-color);
font-size: 50%;
}

h1 {
color: var(--text-color);
font-size: 300%;
}

p-r {
color: white;
text-align: right;
font-size: 50%;
}

h1-r {
color: white;
}


.clearfix {
}

.parallax {
  background-image: url("../pictures/ZcKK.gif");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
}


.img {
margin-left: auto;
margin-right: auto;
height: 40%;
width: 40%;
display: block;
padding-bottom: 10%;
}

.img2 {
padding-bottom: 30px;
}
=======
	list-style-type: none;
 	margin: 0;
	padding: 0;
	background-color: rgba(38, 89, 153,1) ;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
<<<<<<< HEAD
	
	}

@media only screen and (min-width: 600px) {
  navbar {
	  
	padding: 20px 10px;
	float: none;
  
	}

  li {
	  
=======

	}

@media only screen and (max-width: 600px) {
  nav {
		flex-wrap: wrap;
		position: relative;
		padding: 20px 10px;
		float: none;
	}
	.menu {
		align-items: flex-start;
		flex-wrap: nowrap;
		background: none;
}
.logo {
		order: 0;
}
.item {
		order: 1;
		position: relative;
		display: block;
		width: auto;
}
.button {
		order: 2;
}
.submenu-active .submenu {
		display: block;
		position: absolute;
		left: 0;
		top: 68px;
		background: #111;
}
.toggle {
		display: none;
}
.submenu-active {
		border-radius: 0;
}}

  li {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	position: relative;
	float: left;
	font-family: "Trebuchet MS";
	font-size: 15px;
	text-align: center;
<<<<<<< HEAD
  
	}

 li a {
	 
=======

	}

 li a {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	display: flex;
	color: #ddd;
	justify-content: flex-end;
	padding: 14px 70px;
	text-decoration: none;
	margin-left: 70px;
<<<<<<< HEAD
  
	}

  li b {
	  
=======

	}

  li b {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	display: flex;
	color: #ddd;
	justify-content: flex-end;
	padding: 14px 70px;
	text-decoration: none;
	margin-right: 150px;
<<<<<<< HEAD
  
	}

 li a:hover:not(.active) {
	 
	 font-size: 17.5px;
	color: var(--text-color);
  
	}

	
  .active1 {
	  
=======

	}

 li a:hover:not(.active) {

	 font-size: 17.5px;
	color: var(--text-color);

	}


  .active1 {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	color: var(--text-color);
	font-size: 17px;

	}

  .container-fluid-r {
<<<<<<< HEAD
	  
=======

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	padding-right: 10%;
	padding-left: 10%;
	margin-top: 10%;
	float: right;
	text-align: left;
<<<<<<< HEAD
  
	}

  .container-fluid-l {
	  
=======

	}

  .container-fluid-l {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	padding-right: 10%;
	padding-left: 10%;
	margin-top: 10%;
	float: left;
	text-align: right;
<<<<<<< HEAD
  
=======

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	}


  p {
	color : var(--text-color);
	font-size: 50%;
<<<<<<< HEAD
  
=======

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	}

  h1 {
	color: var(--text-color);
	font-size: 300%;
<<<<<<< HEAD
  
=======

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	}

  p-r {
	color: white;
	text-align: right;
	font-size: 50%;
<<<<<<< HEAD
  
	}

	
=======

	}


>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
  h1-r {
	color: white;
	}


	.clearfix {}
<<<<<<< HEAD
	

	.parallax {
		
=======


	.parallax {

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
		background-image: url("../pictures/ZcKK.gif");
		height: 500px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 50%;
	}


	.img {
		margin-left: auto;
		margin-right: auto;
		height: 40%;
		width: 40%;
		display: block;
		padding-bottom: 10%;
	}

<<<<<<< HEAD
	
=======

>>>>>>> 36fb283e9ceb74c91036c00201fd4c545cff12bc
	.img2 {
		padding-bottom: 30px;
	}
>>>>>>> 70e47d2b10bb7f9d52d1cae051fd47be82bed6cb
